*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-info{
    height: 50px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.header-info-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-info-mail p, .header-info-place p{
    margin: 0;
}
.header-info-mail, .header-info-place{
    display: flex;
    align-items: center;
    gap: 12px;
    color: gray;
    font-size: 18px;
}
.fa-envelope, .fa-map{
    color: rgb(255, 100, 4);
}
.header-info-icons{
    display: flex;
    gap: 15px;
}
.header-info-icons a{
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: white;
    align-items: center;
    transition: 0.5s;
}
.header-info-icons a:hover{
    background-color: rgb(255, 100, 4);
}

.head{
    display: flex;
    height: 100px;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 0px 80px;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0px;
    left:0;
    background-color: white;
}
.head>.title{
    font-size: 34px;
    letter-spacing: 3px;
    width: 40%;
    font-weight: bold;
}
.main-navbar{
    display: flex;
    justify-content: center;
    flex: 1;
}
.navlinks{
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
}
.navlinks li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.schedule-button{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    width: fit-content;
    border-radius: 30px;
    padding-right: 22px;
}
.schedule-button .btn{
    color: white;
    font-size: 18px;
    transition: color .3s;
}
.schedule-button:hover .btn{
    color: rgb(255, 100, 4);
}
.schedule-button .icon{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 100, 4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
}
.navlinks li a:hover, .navlinks li a.active{
    color: rgb(255, 100, 4);
}

.banner{
    width: 100%;
    position: relative;
}
.banner img{
    width: 100%;
}
.banner-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.banner-content p{
    background: white;
    padding: 10px 18px;
    font-size: 14px;
}
.banner-content h1{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.property-page{
    display: flex;
    gap: 60px;
    padding: 100px;
}
.property-details{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.property-image{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
.property-image img{
    width: 100%;
    height: 100%;
}
.property-name p{
    background-color: rgba(255, 100, 4, .3);
    padding: 5px 15px;
    border-radius: 4px;
    width: fit-content;
    margin: 20px 0;
}
.property-address{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.property-address h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}
.property-desc{
    margin: 40px 0px;
}
.property-desc p{
    font-size: 16px;
    line-height: 1.5;
}
.accordion{
    border-radius: 10px;
}
.accordion-button{
    background: white;
    color: black;
    box-shadow: none;
    border: none;
}
.accordion-button:not(.collapsed){
    background: white;
    color: rgb(255, 100, 4);
    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none;
    outline: none;
}
.accordion-button::after{
    display: none;
}
.accordion-body{
    line-height: 1.8;
    color: gray;
}
.property-features{
    width: 30%;
    height: 500px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 10px;
}
.property-features .item{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 25px 0;
}
.property-features .item:first-child{
    padding-top: 0;
}
.property-features .item:last-child{
    padding-bottom: 0;
}
.property-features .item:not(:last-child){
    border-bottom: 1px solid #ddd;
}
.item img{
    width: 50px;
}
.item-details{
    display: flex;
    flex-direction: column;
}
.item-details h4{
    font-size: 28px;
    margin-bottom: 6px;
    font-weight: bold;
}
.item-details p{
    color: gray;
    font-size: 14px;
}