*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-info{
    height: 50px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.header-info-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-info-mail p, .header-info-place p{
    margin: 0;
}
.header-info-mail, .header-info-place{
    display: flex;
    align-items: center;
    gap: 12px;
    color: gray;
    font-size: 18px;
}
.fa-envelope, .fa-map{
    color: rgb(255, 100, 4);
}
.header-info-icons{
    display: flex;
    gap: 15px;
}
.header-info-icons a{
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: white;
    align-items: center;
    transition: 0.5s;
}
.header-info-icons a:hover{
    background-color: rgb(255, 100, 4);
}

.head{
    display: flex;
    height: 100px;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 0px 80px;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0px;
    left:0;
    background-color: white;
}
.head>.title{
    font-size: 34px;
    letter-spacing: 3px;
    width: 40%;
}
.main-navbar{
    display: flex;
    justify-content: center;
    flex: 1;
}
.navlinks{
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
}
.navlinks li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.schedule-button{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    padding-right: 20px;
}

.schedule-button .icon{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 100, 4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
} 

.navlinks li a:hover, .navlinks li a.active{
    color: rgb(255, 100, 4);
}
.home-banner{
    width: 100%;
    position: relative;
}
.home-banner img{
    width: 100%;
    display: block;
}
.home-banner .banner-content{
    color: white;
    position: absolute;
    top: 50%;
    left: 200px;
}
.banner-content>p{
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px;
}
.banner-content>p>span{
    color: rgb(255, 100, 4);
}
.banner-content>h1{
    margin-top: 20px;
    font-size: 50px;
    width: 400px;
    line-height: 60px;
}

.home-featured-page{
    display: flex;
    padding: 120px 80px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}
.featured-image{
    width: 30%;
    height: 500px;
    position: relative;
}
.featured-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-icon{
    position: absolute;
    bottom: -40px;
    left: -30px;
    background-color: rgb(255, 100, 4);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-icon>img{
    width: 40px;
    height: 40px;
}
.featured-info{
    width: 40%;
}
.featured-info>p{
    color: rgb(255, 100, 4);
    font-weight: bold;
}
.featured-info>h1{
    font-size: 40px;
    margin: 20px 0;
    line-height: 50px;
}
.accordion{
    margin-top: 40px;
}
.accordion-button{
    background: white;
    color: black;
    box-shadow: none;
    border: none;
}
.accordion-button:hover{
    color: rgb(255, 100, 4);
    background: white;
}
.accordion-button:not(.collapsed){
    background: white;
    color: rgb(255, 100, 4);
    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none;
    outline: none;
}
.accordion-button::after{
    display: none;
}
.accordion-body{
    line-height: 1.8;
    color: gray;
}
.featured-features{
    width: 20%;
    box-shadow: 0px 0px 20px black;
    padding:25px;
    border-radius:10px;
}
.featured-features .item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding:20px 0;
}
.featured-features .item:not(:last-child){
    border-bottom: 1px solid gray;
}
.item img{
    width: 45px;
}
.item-details{
    display: flex;
    flex-direction: column;
}
.item-details h4{
    font-size: 24px;
    margin-bottom: 8px;
}
.item-details p{
    color: gray;
    font-size: 14px;
}