*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-info{
    height: 50px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.header-info-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-info-mail p, .header-info-place p{
    margin: 0;
}
.header-info-mail, .header-info-place{
    display: flex;
    align-items: center;
    gap: 12px;
    color: gray;
    font-size: 18px;
}
.fa-envelope, .fa-map{
    color: rgb(255, 100, 4);
}
.header-info-icons{
    display: flex;
    gap: 15px;
}
.header-info-icons a{
    background-color: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: white;
    align-items: center;
    transition: 0.5s;
}
.header-info-icons a:hover{
    background-color: rgb(255, 100, 4);
}

.head{
    display: flex;
    height: 100px;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 0px 80px;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0px;
    left:0;
    background-color: white;
}
.head>.title{
    font-size: 34px;
    letter-spacing: 3px;
    width: 40%;
}
.main-navbar{
    display: flex;
    justify-content: center;
    flex: 1;
}
.navlinks{
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
}
.navlinks li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.schedule-button{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    width: fit-content;
    border-radius: 30px;
    padding-right: 22px;
}
.schedule-button .btn{
    color: white;
    font-size: 18px;
}
.schedule-button:hover .btn{
    color: rgb(255, 100, 4);
}
.schedule-button .icon{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 100, 4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
} 

.navlinks li a:hover, .navlinks li a.active{
    color: rgb(255, 100, 4);
}
.home-banner{
    width: 100%;
    position: relative;
}
.home-banner img{
    width: 100%;
    display: block;
}
.home-banner .banner-content{
    color: white;
    position: absolute;
    top: 50%;
    left: 200px;
}
.banner-content>p{
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px;
}
.banner-content>p>span{
    color: rgb(255, 100, 4);
}
.banner-content>h1{
    margin-top: 20px;
    font-size: 50px;
    width: 400px;
    line-height: 60px;
}

.home-featured-page{
    display: flex;
    padding: 120px 80px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}
.featured-image{
    width: 30%;
    height: 500px;
    position: relative;
}
.featured-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-icon{
    position: absolute;
    bottom: -40px;
    left: -30px;
    background-color: rgb(255, 100, 4);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-icon>img{
    width: 40px;
    height: 40px;
}
.featured-info{
    width: 40%;
}
.featured-info>p{
    color: rgb(255, 100, 4);
    font-weight: bold;
}
.featured-info>h1{
    font-size: 40px;
    margin: 20px 0;
    line-height: 50px;
}
.accordion{
    margin-top: 40px;
}
.accordion-button{
    background: white;
    color: black;
    box-shadow: none;
    border: none;
}
.accordion-button:hover{
    color: rgb(255, 100, 4);
    background: white;
}
.accordion-button:not(.collapsed){
    background: white;
    color: rgb(255, 100, 4);
    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none;
    outline: none;
}
.accordion-button::after{
    display: none;
}
.accordion-body{
    line-height: 1.8;
    color: gray;
}
.featured-features{
    width: 20%;
    box-shadow: 0px 0px 20px black;
    padding:25px;
    border-radius:10px;
}
.featured-features .item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding:20px 0;
}
.featured-features .item:not(:last-child){
    border-bottom: 1px solid gray;
}
.item img{
    width: 45px;
}
.item-details{
    display: flex;
    flex-direction: column;
}
.item-details h4{
    font-size: 24px;
    margin-bottom: 8px;
}
.item-details p{
    color: gray;
    font-size: 14px;
}

.home-video-view{
    position: relative;
}

.video-bg img{
    width: 100%;
    display: block;
}
.video-bg-content{
    position: absolute;
    text-align: center;
    top: 90px;
    left: 50%;
    transform:translateX(-50%);
}
.video-bg-content p{
    color: rgb(255, 100, 4)
}
.video-bg-content h2{
    color: white;
    line-height: 50px;
}
.video-frame{
    width: 60%;
    position:absolute;
    top: 320px;
    left: 50%;
    transform: translatex(-50%);
}
.video-frame img{
    width: 100%;
    display: block;
}
.play-button{
    width: 60px;
    height: 60px;
    background-color: WHITE;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 20px rgba(255, 100, 4, .3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.play-button a{
    text-decoration: none;
    color:rgb(255, 100, 4);
}
.video-view-details{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 300px auto 100px ;
}
.video-view-details > .box{
    width: 260px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 100, 4, .1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.box h1{
    color: rgb(255, 100, 4);
    font-size: 44px;
}
.box p{
    font-weight: bold;
    line-height: 24px;
}
.empty-div{
    width: 45px;
    height: 45px;
    background: rgb(255, 100, 4);
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
}

.best-deals-page{
    padding: 100px;
}
.best-deals-page>p{
    color: rgb(255, 100, 4);
    font-weight: bold;
}
.deals-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deals-navigation>h1{
    font-size: 42px;
    font-weight: bold;
}
.deals-navigation .buttons{
    display: flex;
    gap: 20px;
}
.buttons button{
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    background: black;
    transition: background 0.3s;
}
.buttons button:hover, button.active{
    background: rgb(255, 100, 4);
}
.buttons a{
    text-decoration: none;
    font-weight: bold;  
    color: white;
}
.deal-details{
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    align-items: start;
    padding: 40px 0;
}
.deal-features{
    width: 22%;
    box-shadow: 0px 0px 18px black;
    padding: 0 25px;
    border-radius:10px;
}
.deal-features .feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
.deal-features .feature:not(:last-child){
    border-bottom: 1px solid gray;
}
.feature p{
    margin:0;
    color: gray;
    font-size: 16px;
}
.feature h5{
    margin:0;
    font-weight: bold;
}
.item-details p{
    color: gray;
    font-size: 14px;
}
.deal-image{
    width: 40%;
}
.deal-image img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    display: block;
}
.deal-info{
    width: 28%;
}
.deal-info .heading{
    font-weight: bold;
    margin-bottom: 25px;
}
.deal-info .detail{
    line-height: 25px;
    margin-bottom: 35px;
}
